---
layout: default
title: "Blogs"
---
<!--
<div class="quotation">
  “There is no greater agony than bearing an untold story inside you.” ~ Maya Angelou<br>
</div>

<div class="coming-soon">
  <img src="/public/assets/comingsoon.jpg"
  alt="Orange" />
</div>
-->

<div class="quotation">
  “There is no greater agony than bearing an untold story inside you.” ~ Maya Angelou<br>
</div>

<div class="posts">
  {% for post in site.posts %}
    {% if post.path contains 'technology' %}
      <div class="post">
        <h1 class="post-title">
          <a href="{{ post.url }}">
            {{ post.title }}
          </a>
        </h1>

        <span class="post-date">{{ post.date | date_to_string }}</span>
      {% assign desc = post.content | split: '</p>' %}
        {{ desc[0] }}
        <br>
        <a href="{{ post.url }}">
            Read More...
        </a>

      </div>
      <hr>
    {% endif %}    
  {% endfor %}
</div>

